PORT=3001
MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/repnet?retryWrites=true&w=majority
MONGODB_DB=repnet
TEMPLATE_JSON_PATH=../repnex_sql_templates/all_templates_combined.json
OPENAI_API_KEY=
OPENAI_EMBED_MODEL=text-embedding-3-small
PINECONE_API_KEY=
PINECONE_HOST=https://your-index-host.svc.region.pinecone.io
PINECONE_NAMESPACE=sql-templates
PINECONE_EMBED_MODEL=llama-text-embed-v2
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=you@example.com
SMTP_PASS=your_google_app_password
SMTP_FROM="Repnex AI <you@example.com>"
SMTP_TO=ops@example.com,founder@example.com
VITE_BACKEND_URL=http://localhost:3001
